@font-face {
  font-family: 'Circe Rounded';
  src: url('./CirceRounded-AltBold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Circe Rounded';
  src: url('./CirceRounded-Regular.ttf') format('ttf');
  font-weight: 400;
}