.loginPage {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: auto 0;
  width: 100vw;
}

.loginPageWrapper {
  display: flex;
  flex-direction: column;
  width: 340px;
  
}

.loginForm {
  display: flex;
  flex-direction: column;
}